@media screen and (min-width: 769px) {
}
@media screen and (max-width: 768px) {
  header {
    .hero-body .columns {
      display: flex;
      flex-direction: column;
    }
    .image.is-overlay, .is-overlay {
      position: relative !important;
    }
  }
}
  
img.placeholder,
img.main {
  height:100%;
}
