.artkids-social {
  .button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transition: all 0.2s;

    &:hover,
    &:active {
      color: white;
      transform: scale(1.1, 1.1);
      z-index: 5;
    }

    &.whatsapp {
      display: none !important;
    }

    &.buffer:hover,
    &.buffer:active {
      background: #222;
    }

    &.facebook:hover,
    &.facebook:active {
      background: #2d4372;
    }

    &.googleplus:hover,
    &.googleplus:active {
      background: #b53525;
    }

    &.linkedin:hover,
    &.linkedin:active {
      background: #006288;
    }

    &.pinterest:hover,
    &.pinterest:active {
      background: #bd081c;
    }

    &.twitter:hover,
    &.twitter:active {
      background: #0084b4;
    }

    &.whatsapp:hover,
    &.whatsapp:active {
      background: #43d854;
    }
  }
}

.is-mobile .whatsapp {
  display: block !important;
}
