body {
  background-color: $background;

  .banner + figure.image figcaption {
    top: 50%;

    .title,
    .subtitle {
      background-color: $primary;
      color: $white;
    }
  }

  > .wrap {
    .main {
      background-color: $white !important;

      .page-header {
        background-color: $primary;
        padding: 0.5rem 1rem !important;
        margin: -1rem -1rem 0.5rem -0.75rem !important;
        width: calc(100% + 1.5rem);
        border-radius: 0.5rem 0.5rem 0 0;

        h1 {
          color: lighten($background, 35%) !important;
          text-shadow: 2px 2px rgba(0, 0, 0, 0.14);
          font-weight: 700;
          margin-bottom: 0;
        }
      }

      .page-header:not(:first-of-type) {
        border-top: whitesmoke 2rem solid;
        margin-top: 1rem !important;
      }

      .page-header + .section {
        padding-top: 1.5rem;
      }

      .section + .section {
        padding-top: 0;
      }
    }

    .main,
    .sidebar {
      padding-top: 1em;
    }

    .sidebar {
      background-color: rgba($white, 0.1);
    }

    .widget {
      margin-bottom: 1em;
    }
  }
}

/* ==========  Mobile First Method  ========== */

/* Small Devices Mobile Phones */
// @media (min-width: 768px) {
// }

/* Big Phones & Tablet */
@media (min-width: 769px) {
  .wrap {
    position: relative;

    .main {
      border-radius: 0.5rem 0.5rem 0 0;
      // box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      position: relative;
      top: -3rem;

      .section:first-of-type {
        padding-top: 0.75rem;
      }
    }
  }
}

/* Medium Sized Devices & Desktop */
// @media (min-width: 1024px) {
// }

/* Large Devices & widescreen */
// @media (min-width: 1216px) {
// }

/* FullHD */
// @media (min-width: 1408px) {
// }

/* ==========  Non-Mobile First Method  ========== */

/* FullHD */
// @media (max-width: 1408px) {
// }

/* Large Devices & widescreen */
// @media (max-width: 1407px) {
// }

/* Medium Sized Devices & Desktop */
// @media (max-width: 1215px) {
// }

/* Big Phones & Tablet */
// @media (max-width: 1023px) {
// }

/* Small Devices Mobile Phones */
@media (max-width: 768px) {
  .main {
    position: relative;
    top: -0.5rem;
  }

}
