@font-face {
    font-family: 'Starife';
    src: url('StarifeDemoRegular.woff2') format('woff2'),
        url('StarifeDemoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
