---
import ContactForm from '@lib/components/ContactForm.svelte';
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'nl' } },
  ];
}
---


<BaseLayout>
<figure class="image is-2by1">
    <Image src="/images/alternative_energy/india-africa-summit-1366x683.jpg" alt="flags" width="1366" height="683">
    <figcaption>
        <div class="container italic drop-shadow is-hidden-touch">
            <p class="title has-text-white is-capitalized" style="background: rgba(113, 110, 106,0.8);">
            <span class="icon is-large">
                <i class="fa fa-globe" aria-hidden="true"> </i>
            </span>
            <span>Eke_Solar StakeHolders Summit 2021</span>
            </p>
            <p class="subtitle has-text-grey-lighter -desktop is-size-6-touch" style="background: rgba(113, 110, 106, 0.8);">Bringing a Great Light to the African Continent</p>
        </div>
    </figcaption>
</figure>

<section class="section">
    <div class="container">
        <ContactForm />
    </div>
</section>

</BaseLayout>