---
  import { Icon } from 'astro-icon'
  import { Image } from "astro:assets";

  import CompanyInfo from './contact/CompanyInfo.astro';
  const today = new Date();
---

<footer class="text-center">
  <div class="text-center p-4">
    <CompanyInfo />
    &copy; {today.getFullYear()}  Copyright:
      <a class="brand marker flex justify-center items-center italic text-lg font-shadow font-bold" href="https://artkidsfoundation.org" title="visit the Artkids Foundation Website?">
        <div class="h-8 w-8 mr-2">
          <Image loading="lazy" width={48} height={48} aspectRatio={1/1} src="/images/logo-72x72.png" alt="Stichting ArtKids Foundation: Funding Happiness"/>
        </div>
        <span class="artkids text-red-500 ">ArtKids</span><span class="foundation text-yellow-400 font-shadow">Foundation</span><span class="text-green-500">.org</span>
      </a>
  </div>
</footer>

<style lang="css">
    [astro-icon] {
      min-width: 1rem;
    }
</style>