---
import { getCollection } from 'astro:content'
import { getLangFromUrl, useTranslations } from '@content/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const locale = {};

locale['en'] = {
  "readmore": "Read More"
}

locale['nl'] = {
  "readmore": "Lees Meer"
}

const projects = await getCollection('projects')

---

<section class="section">
{projects &&
  <div class="columns is-multiline">
    <!-- iterate through each projectt -->
    {projects.map((project) => (
    <article class="column is-half is-one-third-widescren is-one-quarter-fullhd">
      <a class="content" alt={"Read more on " + project.data.title} href={project.path}>
        <h3 class="title">
          {project.data.title}
        </h3>
        {project.data.subtitle &&
        <h4 class="subtitle">
          {project.data.subtitle}
        </h4>
        }
        <figure class="is-relative">
          <img
          ratio={project.data.imageratio || "65%"}
          src={"/images/alternative_energy/" + project.data.image }
          alt={"Read more on " + project.data.title}
          />
          <figcaption class="content has-text-left">
            <p class="subtitle has-text-white">
              {project.data.hook}
            </p>
            <a href={"/" + lang + "/projects/" + project.slug } class="button is-fullwidth is-secondary">{ locale[lang].readmore }...</a>
          </figcaption>
        </figure>
      </a>
      <hr class="is-hidden-tablet has-background-secondary"/>
    </article>
    ))}
  </div>
}
{!projects &&
<span>Helaas hebben we nog geen Projecten online staan.</span>
}

</section>
