---
import BrandFlag from "./BrandFlag.astro";

---

<div class="app-loader backdrop-saturate-50 backdrop-blur-sm w-screen h-screen flex flex-col justify-around items-center fixed top-0 left-0 z-40">
    <div class="wrapper w-screen flex flex-row items-center justify-center scale-100 transition-transform duration-500 z-40">
        <div class="image flex flex-row justify-around items-center">
            <div class="marker h-full w-full italic font-sans items-center !no-underline drop-shadow-xl hover:text-yellow-400 dark:focus:text-gray-100 px-2 py-4">
                <BrandFlag size={"hexagon-large"} />
            </div>
        </div>
    </div>
    <p class="uppercase text-black marker text-xl font-bold drop-shadow-2xl leading-6 md:text-2xl md:leading-8 lg:text-4xl xl:text-5xl lg:leading-12 xl:leading-16 hover:text-yellow-400 dark:focus:text-gray-10">Loading...</p>
</div>


<style is:global>
    .app-loader {
        opacity: 1;
        visibility: visible;
        transition: visibility 0s linear 0s, opacity 1s;
        background: linear-gradient(141deg,rgb(255, 228, 77) 0%, rgb(255, 216, 0) 71%, rgb(230, 194, 0) 100%);
    }


    .text-outline-white-3 {
        -webkit-text-stroke-width: 0.25rem;
        -webkit-text-stroke-color: white;
    }


    .loaded .app-loader .wrapper {
        transform: scale(0, 0);
    }

    .loaded .app-loader {
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s linear 1s, opacity 1s;
    }

    .app-loader .image {
        transform: translatey(0px);
    }

    /* img {
        opacity: 0;
        transition: opacity 600ms;
        animation: fadeInAnimation ease-in-out 600ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    } */

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .loaded .progress-5 {
        animation: unset;
        background-position: 0 calc(4*100%/4) ,0 calc(3*100%/4) ,0 calc(2*100%/4) ,0 calc(1*100%/4) ,0 calc(0*100%/4)
    }

.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    cursor: pointer;
    }
.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }
.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-image: url('/android-chrome-256x256.png');
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }

.hexagon-xlarge {
    width: 300px;
    height: 600px;
    margin-right: 2rem;
}

.hexagon-large {
    width: 150px;
    height: 300px;
    margin-right: 2rem;
}

.hexagon-small {
    width: 50px;
    height: 100px;
    margin-right: .25rem;
}

.hexagon-xsmall {
    width: 25px;
    height: 50px;
    margin-right: .125rem;
}
</style>