---
import Icon from "astro-icon";
import BrandFlag from "./BrandFlag.astro";

const { title, icon, pack } = (Astro.props)
---
<div class="flex justify-between items-center">
    <figure class="landscape:opacity-0 image -translate-x-1 h-12 transition-all duration-500 m-0 p-0 w-12 -ml-1">
        <BrandFlag logoOnly={true} ></BrandFlag>
    </figure>

    <p class="marker transition-colors duration-500 text-center leading-7 lg:text-xl xl:text-2xl lg:leading-7 xl:leading-9 drop-shadow-2xl text-red-500 hover:text-yellow-400 dark:focus:text-gray-100">
        <span class="flex items-center justify-center">
        <Icon pack={pack || "teenyicons"} name={icon || "anchor-solid"} class={"h-8 w-8 lg:h-10 lg:w-10 portrait:h-6 portrait:w-6 mr-1"} />
        <span>
        {title}
        </span>
        </span>
    </p>

    <p class="opacity-0">User</p>
</div>