---
import { Icon } from 'astro-icon';
---

<nav class="app-bar flex justify-end items-center z-30  p-4 shadow-lg space-x-4 ">
    <div class="flex gap-2">
        <h3 class="pt-2 marker transition-colors duration-500 text-lg leading-4 md:text-xl md:leading-5 lg:text-2xl xl:text-4xl lg:leading-7 xl:leading-9 drop-shadow-2xl hover:text-yellow-400 dark:focus:text-gray-100">Social </h3>
        <a id="facebook" href="https://www.facebook.com/LastMessengerS" target="_blank" rel="nofollow noopener noreferrer" type="button" class="btn btn-icon variant-ringed-secondary ring-2">
            <Icon pack="fa" name="facebook-square" />
        </a>

        <a id="twitter" href="https://twitter.com/LastMessengerZ" target="_blank" rel="nofollow noopener noreferrer" type="button" class="btn btn-icon variant-ringed-secondary ring-2">
            <Icon pack="fa" name="twitter" />
        </a>

        <a id="youtube" href="https://www.youtube.com/channel/UC_nLmP5HYQZ0UlndjADCSdA" type="button" class="btn btn-icon variant-ringed-secondary ring-2">
            <Icon pack="fa" name="youtube-play" />
        </a>

        <a id="bandcamp" href="https://lastmessengers.bandcamp.com/" type="button" class="btn btn-icon variant-ringed-secondary ring-2">
            <Icon pack="simple-icons" name="bandcamp" />
        </a>
    </div>
</nav>